* {
  box-sizing: border-box;
}

*::before {
  box-sizing: border-box;
}

*::before::after {
  box-sizing: border-box;
}

.container {
  width: 100%;
  margin: 0 auto;
}

@font-face {
  font-family: 'LaBelleAurore';
  src: url(../fonts/LaBelleAurore-Regular.ttf);
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Pt Serif';
  src: url("../fonts/PTSerif-Bold.ttf");
  src: url("../fonts/PTSerif-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-Bold.ttf");
  src: url("../fonts/OpenSans-Italic.ttf");
  src: url("../fonts/OpenSans-Light.ttf");
  src: url("../fonts/OpenSans-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Open Sans', sans-serif;
  background: #1d1d1d;
  overflow-x: hidden;
  font-size: 15px;
}

h1 {
  font-size: 60px !important;
}

a {
  text-decoration: none;
}

ul, li {
  padding: 0;
}

#canvas {
  display: block;
  position: absolute;
  top: 50%;
  right: 10%;
  transform: translateY(-50%);
}

.active {
  fill: #08fdd8;
}

.header {
  height: 100vh;
  width: 100%;
}

.header__winner {
  display: block;
  position: absolute;
  top: 10%;
  right: 0;
  width: 90px;
  height: 135px;
  text-indent: -666em;
  overflow: hidden;
  z-index: 999;
}

.text {
  position: absolute;
  left: 10%;
  top: 50%;
  transform: translateY(-55%);
  width: 40%;
  max-height: 90%;
}

.text h2 {
  color: #8d8d8d;
  margin-top: -18px;
  font-weight: normal;
  font-size: 11px;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 3px;
  animation: anim2 1s 1.8s backwards;
}

.text__title {
  color: #fff;
  font-size: 56px;
  line-height: 53px;
  letter-spacing: -8px;
  font-family: 'PtSerif';
  font-weight: 600;
  transition: all .2s linear;
}

.text__title::before {
  content: '<h1>';
  font-family: 'LaBelleAurore', cursive;
  color: #515152;
  font-size: 18px;
  position: absolute;
  margin-top: -40px;
  left: -15px;
  letter-spacing: 0;
}

.text__title::after {
  content: '<h1/>';
  font-family: 'LaBelleAurore', cursive;
  color: #515152;
  font-size: 18px;
  position: absolute;
  margin-top: 18px;
  margin-left: 20px;
  letter-spacing: 0;
  animation: animh1 1s 1.7s backwards;
}

.tags {
  color: #515152;
  position: absolute;
  bottom: 5%;
  left: 80px;
  font-size: 18px;
  font-family: 'LaBelleAurore', cursive;
}

.tags__top {
  top: 5%;
  bottom: auto;
}

.letter {
  transition: all .2s linear;
  opacity: 0;
  display: inline-block;
}

.letter__big {
  font-size: 56px;
  font-family: 'PtSerif';
  font-weight: 600;
  -webkit-text-stroke: 2px #188118;
  -webkit-text-fill-color: #08fdd8;
}

.letter:hover {
  color: #08fdd8;
}

.btn {
  color: #08fdd8;
  font-size: 13px;
  letter-spacing: 4px;
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  padding: 10px 18px;
  border: 1px solid #08fdd8;
  margin-top: 25px;
  transition: all .2s linear;
  float: left;
  animation: anim2 1s 1.8s backwards;
}

.btn:hover {
  background-color: #08fdd8;
  color: #515152;
}

.show {
  opacity: 1;
}

.animText {
  animation-name: animText;
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes animText {
  0% {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}

@keyframes animh1 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes anim2 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.nav {
  background: #181818;
  width: 60px;
  height: 100%;
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 3;
  min-height: 500px;
}

.nav__links {
  text-align: center;
}

.nav__links-item {
  opacity: 1;
}

.nav__links-list::after {
  font-size: 9px;
  letter-spacing: 2px;
  position: absolute;
  bottom: 0px;
  display: block;
  width: 100%;
  text-align: center;
  opacity: 0;
  transition: all 0.3s linear;
  color: #08fdd8;
}

.nav__links-list:hover .nav__links-item {
  opacity: 0;
}

.nav__links-list:hover::after {
  opacity: 1;
}

.nav__links-icon {
  fill: #08fdd8;
}

.nav__links a {
  font-size: 20px;
  color: #a5a5a5;
  margin-bottom: 15px;
  display: block;
  line-height: 51px;
  height: 51px;
  position: relative;
  text-decoration: none;
}

.nav__socials {
  list-style: none;
  display: block;
  padding: 0;
  text-align: center;
  margin: 0;
  padding-bottom: 20px;
}

.nav__socials-link {
  padding-left: 23px;
  padding-right: 23px;
}

.nav__socials-list {
  padding: 7px 0;
  display: block;
  cursor: pointer;
}

.nav__socials-list:hover .nav__social-links-item {
  fill: #08fdd8;
}

.nav__logo {
  background: #070707;
  display: flex;
  justify-content: center;
  padding: 8px 0;
}

.nav .nav__links a:first-child:after {
  content: 'HOME';
}

.nav .nav__links a:first-child + a:after {
  content: 'ABOUT';
}

.nav .nav__links a:first-child + a + a:after {
  content: 'SKILLS';
}

.nav .nav__links a:first-child + a + a + a:after {
  content: 'WORKS';
}

.nav .nav__links a:first-child + a + a + a + a:after {
  content: 'CONTACT';
}

.about {
  height: 100vh;
}

.about h1 {
  position: relative;
  color: #08fdd8;
}

.about .text__title::after {
  left: -34px;
  bottom: -50px;
  animation: none;
}

.about p {
  color: #ffffff;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
}

.skills {
  height: 100vh;
}

.skills h1 {
  position: relative;
  letter-spacing: 0;
  color: #08fdd8;
}

.skills .text__title::after {
  left: -34px;
  bottom: -50px;
  animation: none;
}

.skills p {
  color: #ffffff;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
}
/*# sourceMappingURL=style.css.map */