body
 +OpenSans
 background: #1d1d1d
 overflow-x: hidden
 font-size: 15px

h1
 font-size: 60px !important

a
 text-decoration: none

ul
 padding: 0
 margin: 0
 list-style: none
 
li
 padding: 0
 margin: 0

#canvas 
 display: block
 position: absolute
 top: 50%
 right: 8%
 transform: translateY(-50%)

#canvas__skills
 display: block
 position: absolute
 top: 50%
 right: 10%
 transform: translateY(-50%)

@media ( max-width: 1199px )
 #canvas 
  right: 1%
 
@media ( max-width: 991px )
 #canvas 
  display: none
 