.about
 height: 100vh
 .text
  width: 30%
 h1 
  position: relative
  color: $primary-color
  margin-bottom: 61px
 .text__title::after
  left: -34px
  bottom: -50px
  animation: none
 p
  color: $white-color
  font-size: 14px
  font-weight: 300
  line-height: 20px
  animation: anim2 1s .4s backwards